* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: gray;
    padding: 3% 0 3% 0;  
}

header h1 {
    padding-left: 5%;
    display: inline-block;
    font-size: 175%;
    background-color: skyblue;
    color: gray;
    
}

header nav {
    padding: 15px 10px 5px 10;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: gray;
}

header nav li {
    display: inline-block;  
}

header h3 {
    color: skyblue;
    text-decoration: underline gray;
    border-bottom: 2px solid skyblue;
}

main {
    text-align: center;
    margin: 100px 0 100px 0;
}

main img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.titles {
    margin-right: 20px;
    padding-left: 20px;
    clear: both;
    float: left;
    width: 140px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}



#about_me_text {
    text-align: right;
    margin-right: 10px;
}

#about_me_hr{ 
    position: relative;
    float: right;
    margin-top: -55px;
    border: none;
    border-left:2px solid red;
    height: 100px;
    width: 1px;
}

.work_and_contact_me_text {
    margin: 75px 10px 0 0;
    text-align: right;
}

.work_and_contact_me_hr { 
    position: relative;
    float: right;
    margin-top: -55px;
    border: none;
    border-left: 2px solid red;
    height: 100px;
    width: 1px;
}

section ul {
    margin: 300px 0 50px 0;
    text-align: center;
}

section li {
    display: inline-block;
    margin-left: 8px;
    text-align: center;
}

footer {
    text-align: center;
}

@media screen and (max-width: 907px) {
    header{
        text-align:center;
    }
}
@media screen and (max-width: 907px) {
    nav{
        text-align:center;
        float: inline-end;
        /* flex-wrap: wrap; */
        /* width: 10px; */
        /* height: 25px; */
        margin-left: -10px;
    }
}